.requirecredentials-dialog .ui-dialog-titlebar {
	background: none;
	border: none;
}



.requirecredentials-authtypes {
	margin:1em;
	text-align:center;
}


.requirecredentials-authtypes .tophtml,
.requirecredentials-authtypes .bottomtext  {
	text-align:left;
	padding:1em 4em;
}



.requirecredentials-default {
	margin:5em 2em;
	padding:6px 25px;
	
	font-weight:bold;
	font-size:1.5em;
	
	border:rgba(0,0,0,.05) 1px solid;
}



.requirecredentials-others .widget-link {
	padding:6px 8px;
}

.requirecredentials-authtypes .widget-link {
	color:#555;
	display:inline-block;
}

.requirecredentials-authtypes .widget-link:hover {
	background:rgba(0,0,0,.05);
	color:#000;
}